/.idea/.gitignore
/.idea/LaneMappingTool.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

*.log
/files
/lanes/KPTO_Test
/__pycache__/
utils/__pycache__/
web/backend/__pycache__/
web/backend/utils/__pycache__/
/web/backend/workspace/
/web/backend/workspace-Backup/
/files_test/*.npy