/.idea/.gitignore
/.idea/LaneMappingTool.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/files
/lanes
utils/__pycache__/
web/backend/__pycache__/
/web/backend/workspace/
